.hero {
  display: block;
  position: relative;
  z-index: -z(content);
  user-select: none;

  &__inner {
    @extend %container;

    margin-top: 12rem;
  }

  &__background {
    @include ratio-box(56.25%);

    background-color: -color(jackson);
    overflow: hidden;
  }

  @include for-tablet-landscape-up {
    &__background {
      width: calc(100vw - 32rem);
      max-width: 140rem;
    }
  }
}

.study {
  @extend %basic-block;

  background-color: #f5f5f5;
  margin-top: -8rem;

  &__inner {
    @extend %container;

    margin-top: 0;
  }

  &__header {
    position: relative;
    margin-bottom: 12rem;
    background-color: -color(white);
    padding: 14.4rem 0 8rem;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      background-color: -color(white);
      width: 100vw;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }

  &__heading {
    color: #111;
    font-family: $poppins;
    font-size: 3.2rem;
    font-weight: -weight(bold);
    line-height: 5.4rem;

    a {
      position: relative;
      display: inline-block;
      margin-left: 0.8rem;
      top: 0;
      z-index: -z(content);

      &:before {
        content: "";
        display: block;
        width: 6.4rem;
        height: 6.4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: -color(ribbon);
        border-radius: 50%;
        z-index: -1;
        transform: translateX(-50%) translateY(-50%) scale(0.8);
        opacity: 0;
        visibility: hidden;
        will-change: opacity, visibility, transform;
        transition: opacity 0.06s $ease-in-cubic, visibility 0s 0.06s, transform 0.06s $ease-in-out-cubic;
      }

      &:hover {
        &:before {
          transform: translateX(-50%) translateY(-50%) scale(1);
          opacity: 1;
          visibility: visible;
          transition: opacity 0.12s $ease-in-out-cubic, visibility 0s 0s, transform 0.08s $ease-in-out-cubic;
        }

        svg {
          fill: -color(white);
        }
      }

      span {
        display: block;
        position: relative;
        width: 2.4rem;
        height: 2.4rem;

        svg {
          @extend %absolute-fill;
        }
      }
    }
  }

  &__dek {
    margin-top: 2.4rem;
    font-family: $poppins;
    font-size: 2.4rem;
    color: #111;
    line-height: 1.44;
  }

  &__stats {
    margin-top: 4.8rem;

    li {
      display: block;

      & + * {
        margin-top: 1.6rem;
        padding-top: 1.6rem;
        border-top: 1px solid #d9d9d9;
      }
    }
  }

  &__stat {
    font-family: $poppins;
    font-size: 2rem;
    font-weight: -weight(semi-bold);
    line-height: 1.33;

    &:before {
      content: attr(data-label);
      display: block;
      color: #111;
      margin-bottom: 0.2rem;
      font-weight: -weight(regular);
    }

    &--link {
      color: initial;
      will-change: color;
      transition: color 0.1s $ease-in-out-cubic;

      span {
        display: inline-block;
        position: relative;
        margin-left: 0.4rem;
        width: 1.4rem;
        height: 1.4rem;

        svg {
          @extend %absolute-fill;

          fill: #111;
          will-change: fill;
          transition: fill 0.1s $ease-in-out-cubic;
        }
      }

      &:hover {
        color: -color(ribbon);

        svg {
          fill: -color(ribbon);
        }
      }
    }
  }

  &__content {
    color: #111;
    font-family: $poppins;
    padding-bottom: 12rem;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 1.6rem;
      font-weight: -weight(bold);
      line-height: 1.18;
    }

    h3 {
      font-size: 2.4rem;
      margin-bottom: 0.8rem;
      font-weight: -weight(semi-bold);
      line-height: 1.22;
    }

    h1, h2, h3 {
      & + figure,
      & + .oembed {
        margin-top: 4rem;
      }
    }

    p {
      font-size: 2rem;
      line-height: 1.55;
      max-width: 780px;

      & + * {
        margin-top: 5.6rem;
      }
    }

    img {
      width: 100%;
    }

    figure, .oembed {
      margin: 5.6rem auto 5.6rem 0;
    }

    .oembed {
      @include ratio-box(56.25%);

      background-color: #fff;
      width: 100%;
      max-width: 80rem;
    }
  }

  @include for-tablet-landscape-up {
    &__heading {
      font-size: 4rem;

      a {
        top: -0.6rem;
        margin-left: 1.6rem;
      }
    }

    &__content {
      p {
        & + * {
          margin-top: 8rem;
        }
      }

      figure, .oembed {
        margin: 8rem auto 8rem 0;
      }
    }
  }

  @include for-desktop-up {
    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__heading {
      font-size: 4.8rem;
    }

    &__stats {
      flex: 0 0 40rem;
      padding-left: 4rem;
      margin-top: 0;
    }
  }
}
