.case-studies {
  padding-bottom: 12rem;

  &__inner {
    @extend %container;
  }

  &__list {
    &:hover {
      .tout {
        opacity: 0.8;
      }
    }

    li {
      @include ratio-box(40%);

      @extend %basic-block;

      will-change: opacity;
      transition: opacity 0.18s $ease-out-circ;

      & + * {
        margin-top: 2.4rem;
      }
    }
  }
}

.tout {
  position: relative;
  will-change: transform;
  transition: transform 0.15s $ease-in-out-cubic, opacity 0.15s $ease-in-out-cubic;

  &:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: rgba(0,0,0,0.3);
    -webkit-filter: blur(10px);
    filter: blur(16px);
    will-change: transform, opacity;
    transition: transform 0.15s $ease-in-out-cubic;
  }

  &:hover {
    transform: translateY(-1.6rem) scale(1.02);
    opacity: 1 !important;

    &:after {
      transform: translateX(-50%) translateY(1.6rem);
    }
  }

  &__background {
    background-color: -color(jackson);
    img {
      @extend %cover-fill-image;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20.4%;
    z-index: -z(content);
    opacity: 0;
  }

  &__heading {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    bottom: 4rem;
    left: 4rem;
    color: #111;
    font-family: $poppins;
    font-size: 4.8rem;
    font-weight: -weight(bold);
    z-index: -z(content);
  }
}
