.case-studies {
  padding-bottom: 12rem;

  &__inner {
    @extend %container;
  }

  &__list {
    .tout {
      @include ratio-box(40%);

      @extend %basic-block;
    }

    li {
      & + * {
        margin-top: 1.6rem;
      }
    }
  }

  @include for-tablet-landscape-up {
    li {
      & + * {
        margin-top: 2.4rem;
      }
    }

    &:hover {
      .tout {
        opacity: 0.8;
      }
    }
  }
}

.tout {
  position: relative;
  will-change: transform;
  transition: transform 0.15s $ease-in-out-cubic, opacity 0.15s $ease-in-out-cubic;

  &:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: rgba(0,0,0,0.3);
    -webkit-filter: blur(10px);
    filter: blur(16px);
    will-change: transform, opacity;
    transition: transform 0.15s $ease-in-out-cubic;
  }

  &__content {
    overflow: hidden;
    top: auto !important;
    bottom: 0;
    width: auto !important;
    height: auto !important;
    padding: 1.6rem 3.2rem;
    z-index: -z(content);
    background-color: #fff;
    user-select: none;
  }

  &__heading {
    display: inline-block;
    white-space: nowrap;
    color: #111;
    font-family: $poppins;
    font-size: 1.6rem;
    font-weight: -weight(bold);
    z-index: -z(content);
    width: auto;
    height: auto;
  }

  @include for-tablet-landscape-up {
    transition: transform 0.15s $ease-in-out-cubic, opacity 0.15s $ease-in-out-cubic;

    &__content {
      top: auto;
      bottom: 0;
      left: 0;
      width: auto;
      height: auto;
      transform: scaleX(0);
      transform-origin: bottom left;
      box-shadow: 0 0 0 rgba(0,0,0,0.2);
      will-change: transform, box-shadow;
      transition: transform 0.2s $ease-out-circ 0.1s, box-shadow 0.15s $ease-out-circ 0.1s;
    }

    &__heading {
      font-size: 2.4rem;
      transform: translateX(-300%);
      will-change: transform;
      transition: transform 0.2s $ease-out-cubic 0.1s;
    }

    &:hover {
      transform: translateY(-1.6rem) scale(1.04);
      opacity: 1 !important;

      &:after {
        transform: translateX(-50%) translateY(1.6rem);
      }

      .tout__content {
        transform: scaleX(1);
        box-shadow: 10px 0 10px rgba(0,0,0,0.2);
      }

      .tout__heading {
        transform: translateX(0);
      }
    }

    &__background {
      background-color: -color(jackson);

      img {
        @extend %cover-fill-image;
      }
    }
  }
}
