@lost gutter 4rem;
@lost flexbox flex;
@lost cycle auto;

%container {
  position: relative;
  width: 100%;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  max-width: 144rem;
  margin-top: 12rem;

  @include for-tablet-portrait-up {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include for-tablet-landscape-up {
    padding-left: 32rem;
    padding-right: 8rem;
  }

  @include for-big-desktop-up {
    max-width: 148rem;
  }
}

%wrap {
  position: relative;

  @include for-desktop-up {
    lost-column: 5/6;
    lost-offset: 1/12;
  }
}
