{% extends "layouts/default.html" %}

{% from "macros/image.html" import image %}

{% block body_class %}body--work{% endblock %}

{% block content %}
<div class="hero">
  <div class="hero__inner">
    <h1 class="hero__heading">
      {{ page.title }}

      {% if page.projectUrl %}
      <a href="{{ page.projectUrl }}" target="_blank">
        <span>{% include "vectors/external.svg" %}</span>
      </a>

      {% endif %}
    </h1>

    <div class="hero__background">
      <img src="{{ page.featureImage | image }}" alt="{{ page.title }}" v-imageloaded data-image />
    </div>
  </div>
</div>

<div class="study">
  <div class="study__inner">
    <div class="study__wrap">
      <header class="study__header">
        <div class="study__intro">
          <h1 class="study__heading">
            {{ page.title }}

            {% if page.projectUrl %}
            <a href="{{ page.projectUrl }}" target="_blank">
              <span>{% include "vectors/external.svg" %}</span>
            </a>

            {% endif %}
          </h1>

          {% if page.dek %}
          <p class="study__dek">{{ page.dek }}</p>
          {% endif %}
        </div>

        {% if page.stats.client or page.stats.role or page.stats.agency %}
        <ul class="study__stats">
          {% if page.stats.client %}
          <li>
            {% if page.stats.clientUrl %}
            <a href="{{ page.stats.clientUrl }}" class="study__stat study__stat--link" target="_blank" data-label="client" >
              {{ page.stats.client }}

              <span>{% include "vectors/external.svg" %}</span>
            </a>
            {% else %}
            <span class="study__stat" data-label="client">{{ page.stats.client }}</span>
            {% endif %}
          </li>
          {% endif %}

          {% if page.stats.role %}
          <li>
            <span class="study__stat" data-label="role">{{ page.stats.role }}</span>
          </li>
          {% endif %}

          {% if page.stats.agency %}
          <li>
            <span class="study__stat" data-label="agency">{{ page.stats.agency }}</span>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </header>

      <div class="study__content">
        {{ page.contentHtml | safe }}
      </div>
    </div>
  </div>
</div>

{% if page.nextStudy %}
<a href="{{ page.nextStudy | route('study') }}" class="next-study">
  <div class="next-study__inner">
    <div class="next-study__background">
      <img src="{{ page.nextStudy.featureImage | image }}" alt="{{ page.nextStudy.title }}" v-imageloaded data-image />
    </div>

    <h2 class="next-study__title">{{ page.nextStudy.title }}</h2>
  </div>
</a>
{% endif %}
{% endblock %}
