[data-image] {
  opacity: 0;
  transform-origin: center center;

  &.is-loaded {
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-delay: 0.3s;
    animation-timing-function: $ease-out-circ;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.04);
  }
}
