<div class="menu">
  <ul class="menu__list">
    <a href="/">Home</a>
    <a href="/work">My work</a>
    <a href="mailto:hello@thisischapman.com">Say hi!</a>
  </ul>
</div>

<avatar inline-template>
  <div class="avatar" v-on:mouseover="hasBeenHovered = true">
    <a href="/" class="avatar__circle">
      <img src="{{ site.header.avatar.asset.path | image }}" alt="{{ site.header.avatar.alt }}" />
    </a>

    <div class="avatar__prompt" :class="{'is-hidden': hasBeenHovered}">Why not…</div>

    <div class="avatar__bubbles">
      <a href="/work">View my work</a>
      <a href="mailto:hello@thisischapman.com">Say hi!</a>
    </div>
  </div>
</avatar>
