html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

body {
  font-size: 1rem;
  background: $gradient;

  @include for-tablet-landscape-up {
    &:before {
      border-width: 1rem;
    }
  }

  @include for-tablet-landscape-up {
    &:before {
      border-width: 1.6rem;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  z-index: -z(overlay);
}

html,
body {
}

main {
  min-height: 100vh;
}
